@model global::InternTimeStamp.ViewModels.TimeStampList.IndexViewModels

@{
    ViewData["Title"] = "Timestamps";
    string[] TableHeaders = new string[] { "No.", "Name", "Time" };
}

<h1>
    @ViewData["Title"]
    <button type="button" name="add" id="addButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        Add
    </button>
</h1>

<!-- addModal -->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Timestamp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class='col-sm-12'>
                        <form action="Timestamps" method="post">
                            <label class="mt-4 mb-2" for="University_Code">Name</label>
                            <select class="form-select" id="studentForm">
                                @if (Model.StudentLists.Count() == 0)
                                {
                                    <option>No Data</option>
                                }
                                else
                                {
                                    @foreach (var item in Model.StudentLists)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            </select>
                            <label class="mt-4 mb-2" for="code">Time</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                            @*<input type="text" name="Name" class="form-control" textmode="DateTime">*@
                            <div class="modal-footer mt-4">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" onclick="addIntern()" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- table -->
@{
    if (Model.TimeStampLists.Count() == 0)
    {
        <h3 class="text-danger text-center mt-4">-No data-</h3>
    }
    else
    {
        <table class="table table-striped table-info mt-4">
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th class="text-center">
                            @head
                        </th>
                    }
                }
            </tr>
            @{
                if (Model != null)
                {
                    int i = 1;
                    foreach (var Data in Model.TimeStampLists)
                    {
                        <tr>
                            <td class="text-center">@i</td>
                            <td class="text-center">@Data.Name</td>
                            <td class="text-center">@Data.Time</td>
                        </tr>
                        i++;
                    }
                }
            }
        </table>
    }
}

<script type="text/javascript">

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

</script>